$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;

$header-height: 50px;
$selection-height: 33px;
$selection-width: 144px;
$card-height: 225px;
$card-width: 225px;
$vh-percent-to-225px: 35.6vh;

$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-xl: 40px;
$spacing-xxl: 60px;
$spacing-xxxl: 100px;

$color-primary: #005b82;
$color-secondary: #0bd4af;
$color-highlight: #fff540;

$color-secondary-light: #4ddbc1;

$font-h1: 82px;
$font-h3: 36px;